body{
    font-family: 'Roboto', sans-serif;
}


/*-----------------------Header---------------*/

.wrapper{
    padding: 0px;
    margin: 0px auto;
    width: 100%;
     }

.container-fluid{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;}

.title{
    font-family: "Exo", sans-serif;
    text-align: center;
    color: #555555;
    margin: 0px;
    padding: 0px;}

.jumbotron{
        padding-top: 0px;
        margin: 0px;
        text-align: center;
    }

.head-er{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(160, 226, 182);
    padding-top: 75px;
    padding-bottom: 25px;
    text-align: center;
    }
    
/*---------------------navbar----------------------------------------*/

.navbar{
    padding: 0;
    margin: 0;
    width: 100%;
    color: black;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand{ 
    font-weight: bold;
}   

.navbar .navbar-nav a{
    font-weight: bold;
    background-color: #fff;
    margin: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;

}
.navbar-text{
    font-weight: bold;
}

.dropdown-divider {
    margin: 1px;
}

.dropdown-menu {
    padding: 0px;
     
}

/*-----------------------hover.css-------------*/

.hvr-rectangle-out:before {
    background-color: rgb(233, 183, 179);
}

/*-----------------------Image1-------------*/
.logo-image{
    width: 1000px;
    height: 400px;;
    padding: 0;
    margin: 0 auto;
}
 
/*---------------------sub-heading--------------------*/
.sub-logo{
       margin: 0px auto;
       padding: 0px;
       width: 100%;
   }

.sub-headx{
    font-family: "Exo", sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 100%;
    margin: 0px;
    font-size: 1.0rem;
}

.img-contact-info{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(231, 233, 235);
}
/*---------------------images--------------------*/

.contact-info{
    width: 300px;
    height: 600px;
}

.gallery{
    width: 100%;
    padding-top: 15px;
    margin: 0px;
    background-color: rgb(231, 233, 235);}

.sub-images{
    width: 23vw;
    height: 233px;           
}

.image-logo{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.mamas-pic{
    height: 600px;
    width: 578px;
}
/*-----------------------footer---------------*/
.social-links{
    padding: 20px;
    text-align: center;
    background-color: rgb(111, 206, 143);
    margin: 0px auto;
    width: 100%;
}
.socially{
    font-family: "Exo" sans-serif;
    font-size: 30px;
    }

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0px;
    margin: 20px;
    border-radius: 50%;
    font-size: 24px;
    color: #fafafa;
    line-height: 7px;
    text-align: center;
    background-color: rgb(5, 32, 6);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background-color: #ee680e;
}

.inline-block{
    padding: 0;
    white-space: nowrap;
    overflow: auto;
    display: inline-block;
}
.contact{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 992px) {
  .wrapper{
      width: 100%;
  }
  .title{
      width: 100%;
  } 
   .logo-image{
       width: 100%;
   }
   .mamas-pic{
       width: 100%;
       height: 530px;
   }
   .contact-info{
       width: 100%;
        height: 540px;
   }
   .gallery{
       width: 100%;
   }
   .sub-images{
       width: 31vw;
   }
  }


@media screen and (max-width: 600px) {
    .title{
      width: 100%;
      font-size: 1.5rem;
  } 
   .logo-image{
       width: 100%;
       height: 280px;
       
   }
   .mamas-pic{
     width: 96vw;
      height: 475px;
   }

   .contact-info{
       width: 100%;
   }
   .sub-images{
       width: 96vw;
       height: 276px;
   }
  }

@media screen and (max-width: 360px) {
    .title{
      width: 100%;
      font-size: 1.5rem;
  } 
   .logo-image{
               width: 100%; 
               height: 243px;  
   }
   .mamas-pic{
       width: 95vw;
       height: 390px;
}
   
   .contact-info{
       width: 100%;
   }
   .sub-images{
              width: 95vw;
             height: 276px;
   }
  }